<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--<add name="QuestEditor.Properties.Settings.ParallelZodiacConnectionString"
            connectionString="Data Source=35.188.175.20\parallelzodiac:us-central1:parallelzodiac;Network Library=DBMSSOCN;Initial Catalog=ParallelZodiac;User ID=dbman;Password=Sch00n3r1!;"
            providerName="System.Data.SqlClient" />-->
        <add name="QuestEditor.Properties.Settings.ParallelZodiacConnectionString"
            connectionString="Data Source=JOELSPC\SQLEXPRESSJOEL;Initial Catalog=ParallelZodiac;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>